[Unit]
Description=Waydroid Supervisor
After=network.target

[Service]
Type=simple
WorkingDirectory=/home/ USER /dms_handy_monitor
ExecStart=/usr/bin/python3 /home/ USER /dms_handy_monitor/supervisor.py
Restart=always
RestartSec=5
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=default.target