[Unit]
Description=Waydroid Daemon
After=network.target

[Service]
Type=simple
WorkingDirectory=/home/ USER /Bambu_Monitor
ExecStart=/usr/bin/python3 /home/ USER /Bambu_Monitor/supervisor.py
Restart=always
RestartSec=5
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=default.target
