[Unit]
Description=Waydroid Supervisor
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/python3 /home/dougl/waydroid-supervisor/supervisor.py
Restart=always
RestartSec=5
User=dougl
WorkingDirectory=/home/dougl/waydroid-supervisor
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
